Source: pr2-netconsole
Section: config
Priority: extra
Maintainer: Kevin Watts <watts@willowgarage.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: pr2-netconsole
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, pr2-sendhwlog, rsyslog
Description: Logs from netconsole and puts logs in /hwlog
Provides: ${diverted-files}
Conflicts: ${diverted-files}
