Source: pr2-stress
Section: config
Priority: extra
Maintainer: Jeremy Leibs <leibs@willowgarage.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: pr2-stress
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave, ipmitool
Description: Provides a script which stress tests the pr2
Provides: ${diverted-files}
Conflicts: ${diverted-files}
