#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=CVS:.svn

DEB_DIVERT_EXTENSION = .pr2-userdisk
DEB_DIVERT_FILES_pr2-userdisk += \
	/etc/auto.master.pr2-userdisk \
   /usr/share/autofs5/conffiles/auto.master.pr2-userdisk


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
